* {
  /* ----------------------   6   --------------------- */
  /* ################################################## */
  /* ################### background ################### */
  /* ################################################## */
  /* ----------------------   6   --------------------- */
  /* ################################################## */
  /* ################### background ################### */
  /* ################################################## */

  /* ============================== */

  /* عمل صوره للخلفيه */
  background-image: url("tomAndGary.jpg");

  /* ============================== */

  /* عدم تكرار الصوره */
  background-repeat: no-repeat;

  /* ============================== */

  /* لتثبيت الصوره علي الشاشه */
  background-attachment: fixed;

  /* ============================== */

  /* التحكم في موقع الصوره */
  background-position: center 20%;
  background-position-x: center;
  background-position-y: 20%;

  /* ============================== */

  /* التحكم في عرض الصوره */
  /* تغطيه المحتوي كاملا مع الحفاظ علي حجم الصوره */
  background-size: cover;

  /* الصوره تظهر كامله */
  background-size: contain;

  /* تغطيه المحتوي كاملا */
  background-size: 100% 100%;

  /* يجعل النص ياخذ خلفيه الصوره */
  background-clip: text;


  /* ----------------------   12  --------------------- */
  /* ################################################## */
  /* ################### visibility ################### */
  /* ################################################## */
  
  /* تخفي العنصر لكن تحتفظ بمكانه */
  visibility: visible;
  visibility: hidden;
  opacity: .5;
  
  
  /* ----------------------   15  --------------------- */
  /* ################################################## */
  /* ######## min and max width and fit-content ####### */
  /* ################################################## */

  /* اقصي عرض */
  max-width: 400px;
  
  /* اقل عرض */
  min-width: 400px;

  /* عمل عرض علي حجم المحتوي */
  width: fit-content;


  /* 16 ! */
  /* ################################################## */
  /* #################### overflow #################### */
  /* ################################################## */


  /* 18 ! */
  /* ################################################## */
  /* ################# vertical align ################# */
  /* ################################################## */

  /* يجعل الدف متوسط في النص */
  vertical-align: -webkit-baseline-middle;


  /* ----------------------   19  --------------------- */
  /* ################################################## */
  /* ###################### text ###################### */
  /* ################################################## */
  /* لون النص */
  -webkit-text-fill-color: red;
  /* لون البردر في النص و سمك البردر */
  -webkit-text-stroke: 1px green;

  /* ----------------------   19  --------------------- */
  /* ################################################## */
  /* ################# text transform ################# */
  /* ################################################## */
  
  /* اول حرف كابيتال */
  text-transform: capitalize;
  
  text-transform: lowercase;
  
  text-transform: uppercase;


  /* ----------------------   20  --------------------- */
  /* ################################################## */
  /* ################## text spacing ################## */
  /* ################################################## */
  
  /* للعنوان margin left يقوم بعمل */
  text-indent: 100px;

  /* ارتفاع النصوص */
  line-height: 1.6; /* 1.7 */
  /* تباعد الحروف */
  letter-spacing: 1px;
  /* تباعد الكلمات */
  word-spacing: 4px;

  /* لاينزل بالكلام تستخدم في العنوان */
  white-space: nowrap;
  
  /* عند اول فرصه break يعمل */
  word-break: break-word;
  /* ايا كان break يعمل */
  word-break: break-all;


  /* ----------------------   21  --------------------- */
  /* ################################################## */
  /* ################## text overflow ################# */
  /* ################################################## */
  
  /* يجب كتابتها */
  white-space: nowrap;
  overflow: hidden;
  /* اذا كان النص طويل تزيل باقي الكلام و تقوم بعمل ثلاث نقاط */
  text-overflow: ellipsis;


  /* 22 ! */
  /* ################################################## */
  /* ################### inheritance ################## */
  /* ################################################## */


  /* 24 ! */
  /* ################################################## */
  /* #################### css units ################### */
  /* ################################################## */

  /* 
    Css Units
    px
    em = 1 time = ترث من الاب حجم الخط
    rem = Root time = html ترث من الاب حجم الخط الفرق ان الاب هو ال
    percentage = النسبه المئويه
    vw = 1 View port width = 1% من عرض الشاشه

    Read
      vmin
      vh
   */


  /* ------------------------ 27 ---------------------- */
  /* ################################################## */
  /* ###################### float ##################### */
  /* ################################################## */
  
  /* ده حل */
  overflow: hidden;
  /* ده حل */
  clear: both;
  
  /* ----------------------- 33 ----------------------- */
  /* ################################################## */
  /* ###################### table ##################### */
  /* ################################################## */
  /* جعل البوردر نحيف */
  border-collapse: collapse;
  /* المسافات بين البوردر */
  border-spacing: 0px;


  /* ----------------------   34  --------------------- */
  /* ################################################## */
  /* ################# Pseudo Classes ################# */
  /* ################################################## */
  /* 
  :empty
  :visited
  :hover
  :checked
  :focus
  */

  /* ----------------------   35  --------------------- */
  /* ################################################## */
  /* ################# Pseudo Element ################# */
  /* ################################################## */
  /* 
  ::first-letter
  ::first-line
  ::selection
  */


  /* ----------------------   37  --------------------- */
  /* ################################################## */
  /* ################# Pseudo Element ################# */
  /* ################################################## */
  /* 
  in parent
    counter-increment: name-counter;

  in child
    content: counter(name-counter);

  get this attribute from HTML
    content: attr(data-text);
  */


  /* ----------------------   38  --------------------- */
  /* ################################################## */
  /* ################ vendors prefixes ################ */
  /* ################################################## */
  /* 
    Vendors Prefixes
    -webkit- => Chrome, Safari, New Opera Version
    -moz- => firefox
    -ms- => Ie , Edge
    -o- => Old Version of  Opera

  search of [Can I Use]
  */
  
  /* ----------------------   40  --------------------- */
  /* ################################################## */
  /* ################### box shadow ################### */
  /* ################################################## */
  -webkit-box-shadow: inset 6px 6px 7px 3px #aaa;
  -moz-box-shadow: inset 6px 6px 7px 3px #aaa;
  -ms-box-shadow: inset 6px 6px 7px 3px #aaa;
  -o-box-shadow: inset 6px 6px 7px 3px #aaa;
  box-shadow: inset 6px 6px 7px 3px #aaa;
  
  
  /* ----------------------   41  --------------------- */
  /* ################################################## */
  /* ################### box sizing ################### */
  /* ################################################## */
    /* من ضمن العرض border و ال padding يجعل ال */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
  /* ----------------------   42  --------------------- */
  /* ################################################## */
  /* ################### transition ################### */
  /* ################################################## */
  /* short hand */
  transition: width .2s .2s linear, height 2s 2s ease-out;

  /* الوقت المستغرق للتنفيذ */
  transition-duration: .5s;
  /* انتطر ثم نفذ */
  transition-delay: .2s, 1s;
  /* انتطر الخاصيه المراده */
  transition-property: width, height;
  /* النعومه */
  transition-timing-function: linear;


  /* 45 ! */
  /* ################################################## */
  /* #################### variables ################### */
  /* ################################################## */


  /* ----------------------  46  ---------------------- */
  /* ################################################## */
  /* ################## flex parent 1 ################# */
  /* ################################################## */
  /* 
    1 - display: flex -> to start flexible box
    2 - flex-direction: row -> default
    3 - flex-wrap: nowrap -> default
    4 - flex-flow: [flex-direction] + [flex-wrap]
  */


  /* ----------------------  47  ---------------------- */
  /* ################################################## */
  /* ################## flex parent 2 ################# */
  /* ################################################## */
  /* 
    justify-content: flex-start; -> Default
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
  */


  /* ----------------------  48  ---------------------- */
  /* ################################################## */
  /* ################## flex parent 3 ################# */
  /* ################################################## */
  align-items: stretch;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;



  /* ----------------------  49  ---------------------- */
  /* ################################################## */
  /* ################## flex parent 4 ################# */
  /* ################################################## */
  align-content: flex-start;
  align-content: flex-end;
  align-content: center;
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;


  /* ----------------------  50  ---------------------- */
  /* ################################################## */
  /* ################## flex child 5 ################## */
  /* ################################################## */
  /* ينمو مع اول فرصه */
  flex-grow: 1;
  
  /* يتقلص مع اول فرصه */
  flex-shrink: 1;
  
  /* 
    ترتيب العناصر
    display: flex; لكن يجب ان يوجد 
    لجميع العناصر order: و يجب عمل
  */
  order: 1;
  
  /* ---------------------- 51  --------------------- */
  /* ################################################## */
  /* ################### flex child 6 ################# */
  /* ################################################## */
  /*
    بيحترم الارتفاع 
    height و ال width الفرق بينه و بين ال
    width يعمل ك row انه اذا كان اتجاه الصفحه
    height يعمل ك column انه اذا كان اتجاه الصفحه
  */
  flex-basis: 10px;

  /*
    هو اختصار للقيم الاتيه
    flex-grow, flex-shrink, flex-basis
    القيم الاتيه هي الافتراضيه
  */
  flex: 1 1 0%;


  /* -------------- 46 47 48 49 50 51 52 -------------- */
  /* ################################################## */
  /* #################### flex box #################### */
  /* ################################################## */
  /*  Flexible Box
      For Parent
        - display: flex -> To Start Flexible Box
        - flex-direction: row -> Default Value
        - flex-wrap: nowrap -> Default Value
        - flex-flow: [flex-direction] + [flex-wrap]
        - justify-content: flex-start -> Default Value
        - align-items: stretch -> Default Value
        - align-content: stretch -> Default Value
      For Child
        - flex-grow: 0 -> Default Value
        - flex-shrink: 1 -> Default Value
        - order: 0 -> Default Value
        - flex-basis: auto -> Default Value
        - flex: [flex-grow] + [flex-shrink] + [flex-basis] -> 0 1 auto
        - align-self: auto -> Default Value
  */

  /* ----------------------- 54 ----------------------- */
  /* ################################################## */
  /* ##################### filters #################### */
  /* ################################################## */
  /* ابيض و اسود */
  filter: grayscale(50%);
  /* ضبابيه */
  filter: blur(1.5px);
  /* عكس الالوان */
  filter: invert(19%);
  /* الشفافيه */
  filter: opacity(.9);
  /* (inset الظلال (لا يمكن عمل */
  filter: drop-shadow(20px 20px red);
  /* الصطوع */
  filter:  brightness(70%);
  /* رفع الالوان الفاتحه و خفض الالوان الغامقه */
  filter: contrast(2);
  /* التشبع */
  filter: saturate(3);
  /* حنين */
  filter: sepia(.9);
  /* التفاف الالوان */
  filter: hue-rotate(0deg);

  /*  55 ! */
  /* ################################################## */
  /* #################### gradients ################### */
  /* ################################################## */
  background-image: linear-gradient(to right,
    #2196f3 10%,
    #4caf50 10%,
    #4caf50 20%,
    #f44336 20%,
    #f44336 30%,
    #9c27b0 30%,
    #9c27b0 40%,
    #e91e63 40%,
    #e91e63 50%,
    #6ad96e 50%,
    #6ad96e 60%,
    #00bcd4 60%,
    #00bcd4 70%,
    #009688 70%,
    #009688 80%,
    #4caf50 80%,
    #4caf50 90%,
    #8bc34a 90%
    );

  /* ----------------------- 56 ----------------------- */
  /* ################################################## */
  /* ################# pointer & caret ################ */
  /* ################################################## */
  /* 
  in HTML
    contenteditable="true"
  in Css
      عند الضغط
      pointer-events: none;
      علامه الاقحام في الكتابه
      caret-color: red;
  */


  /* ----------------------- 57 ----------------------- */
  /* ################################################## */
  /* ################### Grid parent ################## */
  /* ################################################## */
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-columns: repeat(4, 25%);
  grid-template-columns: repeat(4, auto);
  grid-template-columns: repeat(4, 1fr);
  /* 
    fraction و ال auto الفرق بين ال
    طماع او جريء fraction خجول و ال auto ال
  */
  grid-template-columns: repeat(2, auto) repeat(2, 1fr) 50px;


  /* ----------------------- 58 ----------------------- */
  /* ################################################## */
  /* #################### Grid parent ################# */
  /* ################################################## */
  grid-template-rows: 50px 1fr auto;
  row-gap: 10px;
  column-gap: 30px;
  /* short hand */
  gap: 5px;
  
  
  /* 59 ! */
  /* ################################################## */
  /* #################### Grid parent ################# */
  /* ################################################## */
  
  
  /* ----------------------- 60 ----------------------- */
  /* ################################################## */
  /* ################### Grid parent ################## */
  /* ################################################## */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* عمل العواميد و اعدادها */
  grid-template-areas: "header header nav nav nav";
  
  
  /* ----------------------- 61 ----------------------- */
  /* ################################################## */
  /* ################### Grid child ################### */
  /* ################################################## */
  grid-column: num-start / num-end;
  grid-row: num-start / num-end;
  
  
  /* ----------------------- 62 ----------------------- */
  /* ################################################## */
  /* ################### Grid child ################### */
  /* ################################################## */
  /* grid-row و grid-column هي اختصار ل */
  grid-area: row-start / column-start / row-end / column-end;


  /* ---------------- 57 58 59 61 62 63 --------------- */
  /* ################################################## */
  /* #################### Grid all #################### */
  /* ################################################## */
  /* 
    Grid
    Parent
      display: grid | inline-grid;
      grid-template-columns: -> [Number of columns in] -> [px, %, auto, fraction, repeat(), mix]
      grid-template-rows: => [Number of Rows Height in] -> [px, %, auto, fraction, repeat(), mix]
      gap: [Row Gap] [Column Gap]
      justify-content
      align-content
      grid-template-areas
    Child
      grid-column: 2 / 5;
      grid-row: 2 / 5;

                 y   x   y   x
      grid-area: 2 / 2 / 9 / 5;

      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  */


  /* ----------------------- 65 ----------------------- */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* كما لو انها تتمدد margin انها تقوم بسحب ال width الفرق بينها و بين ال */
  transform: scaleX(-1);
  transform: scaleY(-1);
  transform: scale(-1);


  /* ----------------------- 66 ----------------------- */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* deg rad grad turn */
  transform: rotate(20deg);


  /* ----------------------- 67 ----------------------- */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* تقوم بتحريك العنصر */
  transform: translate();


  /* ----------------------- 68 ----------------------- */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* انحراف */
  transform: skewX(20deg);
  transform: skewY(20deg);
  transform: skew(20deg);
  
  
  /* 69 ! */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* "tan of angle" إبحث عن */
  /* القيم اللي بتاخدها */
  transform: matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY());
  /* القيمة الإفتراضيه */
  transform: matrix(1, 0, 0, 1, 0, 0);/* default */
  /* القيمة المساويه لها */
  transform: translateX() translateY() scaleX() skewY() skewX() scaleY();


  /* ----------------------- 70 ----------------------- */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* 
  x
    left -> 0%
    center -> 50%
    right -> 100%
  y
    top -> 0%
    center -> 50%
    bottom -> 100%
  */
  transform-origin: x  y ;
  transform-origin: left center;


  /* 71 ! */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */


  /* ----------------------- 72 ----------------------- */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */
  /* المسافه بينك و بين العنصر او المنظور */
  perspective: 300px;
  /* منشأ المنظور */
  perspective-origin: left center;


  /* 73 ! */
  /* ################################################## */
  /* #################### transform ################### */
  /* ################################################## */


  /* 76 ! */
  /* ################################################## */
  /* #################### animation ################### */
  /* ################################################## */
  /* 
  animation-name: name; -> اسم الانميشن
  animation-duration: .5s; -> الوقت المستغرق في تنفيذ الانميشن
  animation-iteration-count: 1; -> عدد مرات تنفيذ الانميشن
  animation-timing-function: linear; -> كيفية تحرك الانميشن ما البدايه و النهايه او خطي
  animation-direction: [normal, reverse, alternate]; -> ترتيب التحرك
  animation-delay: -2s; -> انتظر ثانيتان او اقطع ثانيتان من الوقت
  animation-fill-mode: [forwards, backwards, both]; -> من الاخر او من الاول style اخذ ال
  animation-play-state: [running, paused]; -> وقف او شغل الانميشن
  */
  /* short hand */
  animation: name;


  /* 87 ! */
  /* ################################################## */
  /* ################### Global VAlues ################ */
  /* ################################################## */
  /*
    inherit ->
      يرث من الاب
    initial ->
      الوضع الافتراضي للمتصفح
    unset -> 
      inherit اذا كان العنصر يمكن ان يرث ستتحول الي 
      initial اذا كان العنصر لايمكن ان يرث ستتحول الي 
    revert CSS level [4] ->
      وضع المستخدم
    all ->
      معناها كل التنسيقات
      unset قم بوراثه التنسيقات اللتي يمكن ترثها
  */


  /* ---------------------  78 to 82  --------------------- */
  /* ################################################ */
  /* ################### Selectors ################## */
  /* ################################################ */
  /* 
  الابن المباشر و ليس الحفيد
  .parent > .child 

  اختر الجمله المنفصله
  [attr~="value"]
  اختر الجمله سواء كانت ملتسقه في جمله او لا
  [attr*="value"]
  اختر الجمله اللتي في اول الكلام فقط
  [attr^="value"]

  اول طفل
  :first-child
  اخر طفل
  :last-child
  الاول من نوعه
  :first-of-type
  الاخير من نوعه
  :last-of-type
  الابن الوحيد
  :only-child

  :not()
  :nth-child
  :nth-last-child
  :nth-of-type
  :nth-last-of-type
  */
}