.parent {
  padding: 10px;
  border-radius: 10px;
  background-color: #aaa;

  /* ========================== */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;

}

.parent div {
  display: flex;
  justify-content: center;
  background-color: #fa0;
  border-radius: 10px;
  padding: 10px;
}