.div {
    background: red;

    /* ============================== */

    /* عمل صوره للخلفيه */
    background-image: url("tomandgary.jpg");

    /* ============================== */

    /* عدم تكرار الصوره */
    background-repeat: no-repeat;

    /* ============================== */

    /* لتثبيت الصوره علي الشاشه */
    /* background-attachment: fixed; */

    /* ============================== */

    /* التحكم في موقع الصوره */
    /* background-position: center 20%; */
    /* background-position-x: center;
    /* background-position-y: 20%; */

    /* ============================== */

    /* التحكم في عرض الصوره */
    /* تغطيه المحتوي كاملا مع الحفاظ علي حجم الصوره */
    /* background-size: cover; */

    /* الصوره تظهر كامله */
    /* background-size: contain; */

    /* تغطيه المحتوي كاملا */
    /* background-size: 100% 100%; */

    /* ============================== */
}