.float, .flex {
  background-color: #ddd;
  padding: 10px;
  margin-top: 10px;
}

.float div,
.flex div {
  background-color: red;
  width: calc(100% / 6);
  padding: 10px;
}

/* =========================== */
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-evenly;
}

.float {
  overflow: hidden;
}

.float div {
  float: left;
}
/* =========================== */