* {
  /* ================== */
  caret-color: #59ff00;
  /* ================== */
  color: #2b77e2;
}

a {
  /* ================== */
  pointer-events: none;
  /* ================== */
}

::selection {
  background:#59ff00;
}