/*
    text-align
    direction
    vertical-align
*/

p {
    text-align: right;
    direction: rtl;
}

div{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: rgb(78, 78, 78);
    padding: 20px;
    /* يجعل الدف متوسط في النص */
    vertical-align: -webkit-baseline-middle; /* و الله ما بعرف */
}